<!-- navbar -->
<nav class="navbar bg-info">
    <div class="container">
      <a class="navbar-brand" >
      <img width="50px" height="50px" src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-currency-exchange-money-icon-design-for-web-png-image_5225655.jpg" alt="">
      WEST COAST BANK
      </a>
    </div>
  </nav>


 <div class="container">
<img class="error" src="https://cdn.dribbble.com/users/19381/screenshots/3304316/404-animated-console-600h.gif" alt="">
<div class="text-center text-dark">
<h5 class="mb-5">Website Content Has Been Removed</h5>
<p class="mb-5"> Page Not Found!</p>
<button routerLink="" class="btn btn-primary p-1">Back To Home Page</button>
</div>
</div>

  <!-- footer -->
  <footer class="mt-5 bg-info text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark">westcoastbanking.com</a>
    </div>
    <!-- Copyright -->
  </footer>