
<!-- navbar -->
<nav class="navbar bg-info">
    <div class="container">
      <a class="navbar-brand" >
      <img width="50px" height="50px" src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-currency-exchange-money-icon-design-for-web-png-image_5225655.jpg" alt="">
      WEST COAST BANK
      </a>
    </div>
  </nav>


  <!-- login form -->
  <div class="container">
    <div class="row">
    <div class="col-6">
      <img width="100%" height="600px" src="https://img.freepik.com/free-vector/bank-login-concept-illustration_114360-7964.jpg?w=2000" alt="">
    </div>
    <div class="col-6 mt-5">
      <!-- login form -->
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="mt-5 border border-info p-5 rounded shadow">
        <!-- acc no -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Account Number</label>
          <input  name="accno" formControlName="accno" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div *ngIf="this.loginForm.get('accno')?.errors&&this.loginForm.get('accno')?.touched" class="text-danger">*Invalid Account Number</div>
        </div>
        <!-- password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input  name="password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="text-danger">*Invalid Password</div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>

        <h2 class="text-center text-danger">{{loginError}}</h2>
        <!-- submit -->
        <div class="text-center">
        <button  type="submit" class="btn btn-primary mb-3">Sign In 
            <div *ngIf="loginSucess" class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div> 
          </button>
        <p class="mt-3">New Here? <a routerLink="register"> Please Register  </a></p>
        </div>
      </form>
    </div>
    </div>
  </div>



  <!-- footer -->
  <footer class="mt-5 bg-info text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark">westcoastbanking.com</a>
    </div>
    <!-- Copyright -->
  </footer>